.background {
    background-color: #E9DDBE
}
.middle{
    line-height: 0;
    img
        {
            .colour{
        margin: 0;
        padding: 0;
        
    }
}
}
.topinfo {
    display: none;
    background: orange;
    height: 50px;
    z-index: 2000;
    top: 0;
    position: absolute;
}

.botinfo {
    display: none;
    background: green;
    height: 50px;
    z-index: 2000;
    bottom: 0;
    position: fixed;
}