include header.pug
body
.container.background
    .columns
        .column.col-12.top
            h1 Histomap - under development
            h2 Four thousand years of World History
            h3 Relative power of contemporary states, nations and Empires
        .column.col-12.middle
            .legend
                p Egyptians amorites people  
            img.colour(src="./dist/img/title.svg")   
            img.colour(src="./dist/img/bc1950.svg")
            img.colour(src="./dist/img/bc1900.svg")
            img.colour(src="./dist/img/bc1850.svg")
            img.colour(src="./dist/img/bc1800.svg")
            img.colour(src="./dist/img/bc1750.svg")
            img.colour(src="./dist/img/bc1700.svg")
            img.colour(src="./dist/img/bc1650.svg")
            img.colour(src="./dist/img/bc1600.svg")
            img.colour(src="./dist/img/bc1550.svg")
            img.colour(src="./dist/img/bc1500.svg")
            img.colour(src="./dist/img/bc1450.svg")
            img.colour(src="./dist/img/bc1400.svg")
            img.colour(src="./dist/img/bc1350.svg")
            img.colour(src="./dist/img/bc1300.svg")
            img.colour(src="./dist/img/bc1250.svg")    
            img.colour(src="./dist/img/bc1200.svg")
            img.colour(src="./dist/img/bc1150.svg")
            img.colour(src="./dist/img/bc1100.svg")
            img.colour(src="./dist/img/bc1000.svg")
            img.colour(src="./dist/img/bc0950.svg")
            img.colour(src="./dist/img/bc0900.svg")
            img.colour(src="./dist/img/bc0850.svg")
            img.colour(src="./dist/img/bc0800.svg")
            img.colour(src="./dist/img/bc0750.svg")
            img.colour(src="./dist/img/bc0700.svg")
            img.colour(src="./dist/img/bc0650.svg")
            img.colour(src="./dist/img/bc0600.svg")
            img.colour(src="./dist/img/bc0550.svg")
            img.colour(src="./dist/img/bc0500.svg")
            img.colour(src="./dist/img/bc0450.svg")
            img.colour(src="./dist/img/bc0400.svg")
            img.colour(src="./dist/img/bc0350.svg")
            img.colour(src="./dist/img/bc0300.svg")
            img.colour(src="./dist/img/bc0250.svg")
            img.colour(src="./dist/img/bc0200.svg")
            img.colour(src="./dist/img/bc0150.svg")
            img.colour(src="./dist/img/bc0100.svg")
            img.colour(src="./dist/img/bc0050.svg")
            img.colour(src="./dist/img/0000.svg")
            img.colour(src="./dist/img/ce0050.svg")
            img.colour(src="./dist/img/ce0100.svg")
            img.colour(src="./dist/img/ce1850.svg")
            img.colour(src="./dist/img/ce1800.svg")
            img.colour(src="./dist/img/ce1750.svg")
            img.colour(src="./dist/img/ce1700.svg")
            img.colour(src="./dist/img/ce1650.svg")
            img.colour(src="./dist/img/ce1600.svg")
            img.colour(src="./dist/img/ce1550.svg")
            img.colour(src="./dist/img/ce1500.svg")
            img.colour(src="./dist/img/ce1450.svg")
            img.colour(src="./dist/img/ce1400.svg")
            img.colour(src="./dist/img/ce1350.svg")
            img.colour(src="./dist/img/ce1300.svg")
            img.colour(src="./dist/img/ce1250.svg")    
            img.colour(src="./dist/img/ce1200.svg")
            img.colour(src="./dist/img/ce1150.svg")
            img.colour(src="./dist/img/ce1100.svg")
            img.colour(src="./dist/img/ce1000.svg")
            img.colour(src="./dist/img/ce0950.svg")
            img.colour(src="./dist/img/ce0900.svg")
            img.colour(src="./dist/img/ce0850.svg")
            img.colour(src="./dist/img/ce0800.svg")
            img.colour(src="./dist/img/ce0750.svg")
            img.colour(src="./dist/img/ce0700.svg")
            img.colour(src="./dist/img/ce0650.svg")
            img.colour(src="./dist/img/ce0600.svg")
            img.colour(src="./dist/img/ce0550.svg")
            img.colour(src="./dist/img/ce0500.svg")
            img.colour(src="./dist/img/ce0450.svg")
            img.colour(src="./dist/img/ce0400.svg")
            img.colour(src="./dist/img/ce0350.svg")
            img.colour(src="./dist/img/ce0300.svg")
            img.colour(src="./dist/img/ce0250.svg")
            img.colour(src="./dist/img/ce0200.svg")
            img.colour(src="./dist/img/ce0150.svg")
            img.colour(src="./dist/img/ce0100.svg")
            img.colour(src="./dist/img/ce0050.svg")
            img.colour(src="./dist/img/footer.svg")
        .column.col-12.bottom
            h1 Histomap
            h2 Four thousand years of World History
            h3 Relative power of contemporary states, nations and Empires
    .columns
        .column.col-12.topinfo
            p info
    .columns
        .column.col-12.botinfo  
            p info
        
            